# Ambientes virtuais
venv/
env/
.venv/
.env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do VSCode
.vscode/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Arquivos de sistema
.DS_Store
Thumbs.db

# Drivers do Selenium (caso existam localmente)
chromedriver
chromedriver.exe
geckodriver
